<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Things Done</title>
</head>

<body>
    <main>
        <label for="calendar">Calendar:</label>
        <input type="date" id="calendar" name="action-calendar" value="2025-11-18" />
    </main>
    <hr />
    <span>Horizons of Focus</span>
    <ul>
        <li><a href="/define-work">Define Work</a></li>
        <li><a href="/purpose">Purpose/Principles</a></li>
        <li><a href="/vision">Vision</a></li>
        <li><a href="/goals">Goals</a></li>
        <li><a href="/responsibilities">Areas of Responsibility</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/actions">Action Lists</a></li>
    </ul>
</body>

</html>
